@page
@model RegisterModel
@using ShopProject.Utility
@{
   
}



<div class="row backgroundWhite">
    <div class="col-md-12">
        <form asp-route-returnUrl="@Model.ReturnUrl" method="post">
            <h4 class="nice-font">Dodawanie nowego pracownika</h4>
            <hr />
            <div asp-validation-summary="All" class="text-danger"></div>
            <div class="form-group row">
                <div class="col-3">
                    <label asp-for="Input.Name">Pełna nazwa</label>
                </div>
                <div class="col-5">
                    <input asp-for="Input.Name" class="form-control" />
                    <span asp-validation-for="Input.Name" class="text-danger"></span>
                </div>
            </div>
            <div class="form-group row">
                <div class="col-3">
                    <label asp-for="Input.Email"></label>
                </div>
                <div class="col-5">
                    <input asp-for="Input.Email" class="form-control" />
                    <span asp-validation-for="Input.Email" class="text-danger"></span>
                </div>
            </div>
            <div class="form-group row">
                <div class="col-3">
                    <label asp-for="Input.Password">Hasło</label>
                </div>
                <div class="col-5">
                    <input asp-for="Input.Password" class="form-control" />
                    <span asp-validation-for="Input.Password" class="text-danger"></span>
                </div>
            </div>
            <div class="form-group row">
                <div class="col-3">
                    <label asp-for="Input.ConfirmPassword">Powtórz hasło</label>
                </div>
                <div class="col-5">
                    <input asp-for="Input.ConfirmPassword" class="form-control" />
                    <span asp-validation-for="Input.ConfirmPassword" class="text-danger"></span>
                </div>
            </div>
            <div class="form-group row">
                <div class="col-3">
                    <label asp-for="Input.PhoneNumber">Telefon</label>
                </div>
                <div class="col-5">
                    <input asp-for="Input.PhoneNumber" class="form-control" />
                    <span asp-validation-for="Input.PhoneNumber" class="text-danger"></span>
                </div>
            </div>

            <div class="form-group row">
                <div class="col-3">
                    <label asp-for="Input.StreetAddress">Ulica</label>
                </div>
                <div class="col-5">
                    <input asp-for="Input.StreetAddress" class="form-control" />
                    <span asp-validation-for="Input.StreetAddress" class="text-danger"></span>
                </div>
            </div>
            <div class="form-group row">
                <div class="col-3">
                    <label asp-for="Input.City">Miasto</label>
                </div>
                <div class="col-5">
                    <input asp-for="Input.City" class="form-control" />
                    <span asp-validation-for="Input.City" class="text-danger"></span>
                </div>
            </div>
            <div class="form-group row">
                <div class="col-3">
                    <label asp-for="Input.State">Województwo</label>
                </div>
                <div class="col-5">
                    <input asp-for="Input.State" class="form-control" />
                    <span asp-validation-for="Input.State" class="text-danger"></span>
                </div>
            </div>
            <div class="form-group row">
                <div class="col-3">
                    <label asp-for="Input.PostalCode">Kod pocztowy</label>
                </div>
                <div class="col-5">
                    <input asp-for="Input.PostalCode" class="form-control" />
                    <span asp-validation-for="Input.PostalCode" class="text-danger"></span>
                </div>
            </div>
            <div class="form-group row">
                <div class="col-3">
                    <label>Funkcja</label>
                </div>
                <div class="col-5">
                    <input type="radio" name="rdUserRole" value="@SD.Admin" /> @SD.Admin
                    <input type="radio" name="rdUserRole" value="@SD.Manager" checked /> @SD.Manager
                </div>
            </div>          
            <div class="row">
                <div class="col">
                    <button type="submit" class="btn btn-danger form-control">Dodaj</button>
                </div>
                <div class="col">
                    <a asp-action="Index" asp-controller="User" asp-area="Admin" class="btn btn-info form-control" >Powrót</a>
                </div>
            </div>
        </form>
    </div>
    
</div>

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}
